.ql-font-SimSun {
  font-family: 'SimSun', '宋体', serif !important;
}
.ql-font-Microsoft-YaHei {
  font-family: 'Microsoft YaHei', '微软雅黑', sans-serif !important;
}
.ql-font-KaiTi {
  font-family: 'KaiTi', '楷体', serif !important;
}
.ql-font-FangSong {
  font-family: 'FangSong', '仿宋', serif !important;
}
